*{
    color:#201AAB;
    color:#0B00F7;
    color:#2E25F7;
    color:#F8A30D;
    color:#F7D319;
    color:#FCD200;
    color:#A125F7;
    color:#6500AB;
    color:#0053AB;
    color:#0C7EF7;
    color:#0B5AE6;
    color:#0052E6;
    color:#0055F2;
    color:#E67218;
    color:#494CE5;
    color:#7344FC;
    color:#212295;
    color:#411DAB;
    color:#484AE0;
    color:#3134E0;
    color:#131454;
    color:#A8441F;
    color:#5C1E07;
    color:#752F15;
    color:#5216A8;
    color:#423626;
    color:#DB8212;
    color:#692A13;
    color:#D2601D;
    color:#DE9414;
    color:#523524;
    color:#8413D1;
    color:#ED8F13;
    color:#F7C107;
    color:#7D2BED;
    color:#4705A1;
    color:#FFA42E;
    color:#4E2915;
    color:#361C0E;
    color:#3B7AED;
    color:#3948E3;
    color:#d25659;
    color:#391CBA;
    color:#ED8F13;
    



}