.prod_container{
    background-color: #7344FC;
}
.prod_titulo{
    margin-top: 35px;
    margin-bottom:20px;
    color: #F0EFED;
}
.prod_texto1{
    margin-bottom: 25px;
    padding-left:45px;
    padding-right:45px;
    justify-content: space-between;
    align-items: center;
    color: #F0EFED;
    font-size: 1.2rem;
}
.prod_subtitulo{
    color:#F0EFED;
    padding-top: 40px;
    padding-left:20px;
    padding-right:20px;
}
.card_titulo3{
    color:#7344FC;
    font-size: 2.5rem;
}
.Foto_3{
    max-width:100%;
    height:auto;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}