.top_titulo{
    margin-top: 50px;
    margin-bottom: 25px;
    font-size:3.5rem;
    color:#423626;
}
.top_texto{
    margin-top: 20px;
    margin-bottom: 50px;
    font-size:1.7rem;
    color:#423626;
}